<div class="text-center">
    <i class="bi bi-9-circle"></i>
    <h1 class="display-4">Carlos Segura</h1>
    <h2>Desarrollador de software con experiencia en .NET</h2>
    <img id="foto" src="~/imagenes/foto.png" alt="Fot de Carlos" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/Imagenes/dotNET.png" />
</div>

<div class="row justify-content-center text-center color-area">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Bienvenido a mi portafolio</h1>
        <p>Carlos Segura, un desarrollador de software con experiencia en .NET y conocimientos sólidos en el desarrollo de sitios web utilizando HTML, CSS, JavaScript, Bootstrap y WordPress. He trabajado en proyectos de despliegue de aplicaciones y sitios web completos en WordPress, incluyendo plugins de eCommerce como WooCommerce. Actualmente, estoy ampliando mis conocimientos en desarrollo de software a través del programa de Backend, Arquitectura y Bases de Datos en Platzi. Mi objetivo es seguir aprendiendo y expandir mi conjunto de habilidades en el desarrollo de software, manteniéndome al día con las últimas tendencias y tecnologías.</p>
    </div>
</div>