
@{
    ViewData["Title"] = "Gracias";
}

<div class="container d-flex justify-content-center">
  <div>
    <h2 class="text-center display-4 mt-5">¡Gracias por tu mensaje!</h2>
    <h2 class="text-center display-4 mt-5">Te contestaremos lo mas pronto posible :D</h2>

    <div><a asp-action="Index" asp-controller="Home">Volver al home</a> </div>
  </div>
</div>






